.contact-flex {
    display: grid;
    // justify-content: center;
    margin: 2rem;
}

.wpcf7 {
    // display: inline;
    // padding: 3rem;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    color: #000;
    width: 70%;
}
.wpcf7 textarea {
    width: 100%;
}

.wpcf7-submit {
    // background: ;
    border-radius: 3px;
    color: $highlight-red;
}
