.a {
    display: grid;
    grid-template-columns: 50% 50%;
    background: red;
}

.b {
    background: green;
}

.c {
    background: blue;
}

.xyz {
    padding: 2px;
}

.xxx {
    font-size: 10em;
}
