.flexandcolor {
    display: flex;
    // flex-wrap: wrap;
    background: $fun-yellow;
}
.a {
    // background: $fun-yellow;
    border-radius: 3px;
    display: block;
    padding: 3rem;
    margin: 2rem;
    border: 2px solid;
}

.b {
    // background: $fun-yellow;
    text-align: center;
    line-height: 1rem;
}

.c {
    // background: $fun-yellow;
    padding: 2rem;
    line-height: inherit;
}
