.a {
    display: grid;
    grid-template-columns: 50% 50%;
    background: red;
}

.b {
    background: green;
}

.c {
    background: blue;
}

.upperC {
    text-transform: uppercase;
    font-size: 2rem;
    background: $background-colour;
}
