.footer-border {
    border-top: 1px solid grey;
}

.footer-style a {
    color: black;
    // background: blue;
    // margin-bottom: 1.5rem;
}

.xx {
    color: green;
    float: right;
}

.xxx {
    color: salmon;
}
