.fp-graph {
    padding: 0.9rem;
    text-align: center;
}

.fst-graph {
    font-size: 1.3rem;
}

.ft-page {
    display: block;
    text-decoration: none;
    align-items: end;
}

.flexbox {
    display: flex;
}
