.fp-graph {
    padding: 2.9rem;
    text-align: justify;
    margin: 0 auto;
}

.fst-graph {
    font-size: 1.3rem;
}

.ft-page {
    display: block;
    text-decoration: none;
    align-items: end;
}

.fp-box {
    //padding-right: 1.1rem;
    padding: 4em 1.5rem 2rem 0;
    text-align: center;
}

.flexy {
    display: flex;
    margin: auto;
    padding: 2rem;
}

.p-style {
    margin: 0;
}

.borderline {
    // background: $light-green;
    border-top: 3px solid $light-green;
}

.h1-style {
    margin: -1rem;
    padding: 2rem;
    background: red;
    color: pink;
    text-align: center;
}

.h1.nohyphen {
    // word-break: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -epub-hyphens: none;
    hyphens: none;
}

.t-al {
    text-align: center;
}

.boarderline {
    border-top: purple 2px solid;
}
