.fp-graph {
    padding: 0.9rem;
    text-align: center;
}

.fst-graph {
    font-size: 1.3rem;
}

.ft-page {
    display: block;
    text-decoration: none;
    align-items: end;
}

.fp-box {
    border: 2px red solid;
    padding-right: 1.1rem;
    padding: 2rem;
    text-align: center;
}

.flexy {
    margin: auto;
}

.p-style {
    margin: 0;
}

.lightgreen {
    background: $light-green;
}

.btm-margin {
    margin-bottom: 2rem;
}

// @media
