.header {
  background: #fff;
}

#logo a {
  color: $fun-yellow;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.head-pix {
  width: 30%;
}

// <img id="logo" class="h1 nohyphen" itemscope itemtype="http://schema.org/Organization"><a href="<?php echo home_url(); ?>" rel="nofollow"><?php ('name'); ?> <img class="head-pix" src= " <?php the_field('logo', 'option') ; ?> "> </a>
