@import "header";
@import "images";
@import "staff";
@import "front-page";
@import "after-school";
@import "faq";
@import "holiday";

// This is for Index page
.upperC {
    text-transform: uppercase;
    font-size: 2rem;
    background: $background-colour;
    color: $highlight-red;
}
