.staff_name {
    background: $fun-yellow;
    color: $fun-green;
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    padding: 0.5rem;
}

.job_titles {
    background: $fun-yellow;
    border-radius: 0.2px;
    text-align: center;
    color: $fun-green;
    font-size: 1.2rem;
    margin: 0;
}

.staff_profile {
    color: black;
    margin: 2rem;
    padding: 0.4rem;

    display: inline;
    text-align: left;
    vertical-align: auto;
}

.img-pad {
    padding: 0.2rem;
    padding-left: 2rem;
    margin: 0.2rem;
}
