#logo.h1.nohyphen {
    margin-bottom: 0;
    // background-color: red;
}
.nav.top-nav.cf,
.nav.top-nav.comment-respond {
    display: none;
}

.address {
    padding-top: 1em;
    line-height: 0.4em;
    margin-top: 2rem;
    // font-size: 0.9em;
}
